.g-home {
  width: 100%;
  min-width: $min-width;
  .home {
    .h-shop-type {
      width: 80%;
      height: 480px;
      margin: 0 auto;
      margin-top: 10px;
      .shop-type-left {
        width: 100%;
        height: 100%;
        background-color: rgba($background-gray, 0.5);
        .left-line {
          width: 100%;
          height: 30px;
          line-height: 30px;
          padding-left: 4px;
          .left-line-item {
            .l-item-name {
              color: #000;
            }
            .l-item-name:hover {
              color: $red;
            }
          }
        }
        .left-line:hover, .left-line-active {
          background-color: $gray;
        }
      }
      .shop-type-center {
        width: 100%;
        height: 480px;
        padding: 0 20px;
        .center-carouse {
          width: 100%;
          height: 480px;
          img {
            width: 100%;
            height: 480px;
          }
        }
      }
      .shop-type-right {
        background-color: $gray-ccc;
      }
      .shop-center-active {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #fff;
        width: 100%;
        height: 480px;
        padding: 10px;
        border: 1px solid $gray-ccc;
        -webkit-box-shadow: $gray-ccc 0px 0px 10px;
        -moz-box-shadow: $gray-ccc 0px 0px 10px;
        box-shadow: $gray-ccc 0px 0px 10px;
      }
    }
    .h-shop-list {
      margin: 0 auto;
      width: 80%;
      padding-bottom: 20px;
      .shop-list-item {
        margin: 0 auto;
        width: 300px;
        height: 400px;
        margin-top: 20px;
        border: 1px solid $gray-ccc;
        .item-img {
          width: 300px;
          height: 300px;
          margin: 0 auto;
        }
        .item-name {
          height: 24px;
          line-height: 24px;
          display: flex;
          justify-content: space-between;
          padding: 0 10px;
          .i-name {
            font-weight: 500;
            font-size: 20px;
          }
        }
        .item-price-discount {
          color: $red;
          font-size: 18px;
        }
        .item-price-real {
          text-decoration: line-through;
          color: $gray-ccc;
        }
        .item-desc {
          padding: 2px 4px;
          height: 48px;
          line-height: 24px;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .item-num {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 4px;
          .i-num {
            font-size: 12px;
          }
        }
      }
      .shop-list-item:hover {
        cursor: pointer;
        border-color: $red;
      }
    }
  }
}
